<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="main.js"></script>
</head>
<body>

  <div id="app">
    <!-- Raw HTML -->
    <span v-html = "message"></span>

    <!-- Text Interpotation -->
    <p>My name is {{ name }}. I'm {{ age*2 }} years old.</p>

    <!-- Attribute Bind -->
    <!-- <img :src="photo" alt=""> -->

    <!-- If,else condition -->
    <p v-if = "seen">Now you see me!</p>

    <!-- List Rendering -->
   <div v-if = "colors.length > 0">
      <ul>
        <li v-for="item in colors">{{item}}</li>
      </ul>
    </div>
    <div v-else>
      <p>No Any Other Color Array Here!</p>
    </div>

    <ol>
      <li v-for="(item,index) in students">
        <strong>{{index}}.</strong>{{item.name}}-{{item.age}}-{{item.gender}}
      </li>
    </ol>  

    <!-- Event -->
    <p>Count is: {{count}}</p>
    <button @click ="count++">Add 1</button>

    <button @click="openalert('Ha Ha!')">openbox</button>

    <!-- Input Binding -->
    <input type="text" name="username" v-model="username">
    <p>{{username}}</p>
    <input type="number" v-model.number = "age">

  </div>

  <script>
    const mountedApp = app.mount("#app");
  </script>
</body>
</html>