<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="main.js"></script>
    <style>
        .text-danger{
            color: red;
        }
    </style>
</head>
<body>

    <div id="app">
        <!-- Boolean attribute -->
        <button :disabled="isButtonDisabled">Button</button>

        <input type="text" :disabled="isInputDisabled">
        <input type="number" name="age" id="age" v-model="age">
        <button @click="mybtn">Mybtn</button>

        <!-- Conditional Rendering -->
        <p v-if="mark >= 40 && mark <=79">Pass</p>
        <p v-else-if="mark < 40 ">Fail</p>
        <p v-else>D</p>
        
        <!-- Event Modifier -->
        <form action="" method="post" @submit.prevent="validate">
            <input type="text" name="username" id="username">
            <br>
            <input type="email" name="email" id="email">
            <br>
            <input type="submit" value="save">
        </form>

        <!-- Binding objects -->
        <p :class="{active: isActive, 'text-danger': hasError}">Hello Vue</p>

        <!-- List Rendering -->
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(students,index) in students">
                    <td>{{++index}}</td>
                    <td>{{students.name}}</td>
                    <td>{{students.age}}</td>
                    <td>{{students.gender}}</td>
                    <td>
                        <button>Detail</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
    const mountedApp = app3.mount("#app");
    </script>
</body>
</html>